service cloud.firestore {
  match /databases/{database}/documents {
      match /users/{userId} {
        allow read: if true;
        allow write: if request.auth.uid == userId;
      }
      match /postData/{document=**} {
        allow read, write: if true;
      }
      match /version/{document=**} {
        allow read, write: if true;
      }
  }
}